h2 {
	text-decoration: underline;
}

div {
	width: 600px;
	height: 300px;
}

.Libya {
	background-color: green;
}

.FranceLeft {
	background-color: navy;
	width: 33%;
}
.FranceRight {
	background-color: red;
	width: 33%;
	position: relative;
	left: 400px;
	bottom: 303px;
}

.Japan {
	@extend %flag;
  background: radial-gradient(circle at 50% 50%, red 0%,  red 30%, white 30%, white 100%);
}

.Greece {
	}

