/*
this content is stored in a file named "site.css"
in a directory named "css" in the web root
*/

h1 {
	text-decoration: underline;
}
 body {
 	background-color: white;
 }
 
body {
	list-style: georgian inside;
}

body {
	background-image: url("/china.png");
	background-size: 200px 100px;
	background-repeat: repeat;
}

body {
	font-style: oblique;
	font-size: 10px;
}
